@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  text-align: center;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  background-color: #e0e0e0;
  z-index: -1;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  background-color: #3498db;
  z-index: -1;
  transition: 0.3s ease-in;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
  background-color: #fff;
  color: #999;
  transition: 0.3s ease-in;
}

.circle.active {
  border-color: #3498db;
}

.btn {
  padding: 8px 30px;
  margin: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
